USE [master]
GO
/****** Object:  Database [MegaImageList]    Script Date: 15.02.2024 2:53:18 ******/
CREATE DATABASE [MegaImageList]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'MegaImageList', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.D14\MSSQL\DATA\MegaImageList.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'MegaImageList_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.D14\MSSQL\DATA\MegaImageList_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [MegaImageList].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [MegaImageList]
GO
/****** Object:  Table [dbo].[Images]    Script Date: 15.02.2024 2:53:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Images](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[path] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
USE [master]
GO
